<!-- This template is used to define how user profile pages look-->
{% extends "main/base.html" %}<!-- Inherits the base template, stops having to rewrite code -->
{% load crispy_forms_tags %}<!-- loads in the crispy forms module installed in settings.py for styling -->
{% block content %}
    <div class = "content-section"> <!--Loads custom CSS content section (defined in styles.css)-->
        <div class="media">
            <img src="{{user.profile.pfp.url}}" class="rounded-circle"> <!--Loads pfp and formats as circle-->
        </div>
    </div>

{% endblock content %}>

