<!--This html file acts as a base for the entire website and includes attributes that appear on most pages (navbar etc.)-->
<!--Saves time as there is no need to rewrite this code for every webpage / template developed.-->

{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

    {% if title %} <!-- This if statement means that if a post being displayed, the title of the post is displayed, otherwise just a generic is-->
        <title>NEA Project - {{ title }}</title>
    {% else %}
        <title>NEA Project</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
      <!-- code for my navigation bar, pulling custom CSS elements from my stylesheet and Bootsrap to pull it together-->
      <!-- Makes code look much nicer as I define these elements in a CSS file and then just import them here. Also saves time-->
      <nav class="navbar navbar-expand-md navbar-dark bg-orange fixed-top"> 
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><!-- Links the title image back to index -->
              <img src="https://i.imgur.com/Zt1BEkV.png" title="source: imgur.com" style="width:86px;height:50px;"/> <!--Title img source-->
            </a><!-- Links the text of the title back to index -->
          <!-- Essentially what toggle does is to make toggling different sections of the navbar easier to implement -->
          <!-- It is used to hide and show different links if a user is logged in or not -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Left Side -->
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'index' %}">Home</a> <!-- Links back to the homepage for accessibilty and ease of use-->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!-- Links to registration and login respectively -->
              {% if user.is_authenticated %} <!--Checks to see if user is logged in or not-->
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> <!--Links user to logout page and logs them out-->
                <a class="nav-item nav-link" href="#">Account</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a> <!--Links user to login page-->
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a> <!--Links user to sign up page-->
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %} <!-- If a message has been sent by the website, the following code will be executes -->
            {% for i in messages %} <!-- For loop ensures that if there are multiple messages to be displayed, they each get a turn-->
              <div class="alert alert-{{ i.tags }}"> <!--Bootstrap alert tag that flashes any kind of alert-->
                                    <!--^^^Since messages are sent with their type, we can just use message.tags which saves development time-->
                {{ i }} <!-- Prints the message itself inside of the alert-->
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %} <!-- This is where the actual content for unique tenplates goes!-->
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<footer>James March 2019</footer>
</html>
