<!-- Used as a template for individual blog posts-->
{% extends "main/base.html" %} <!--#Imports the HTML found in the base template to use as a basis for the page -->
{% load static %}
{% block content %}
    <article class="media content-section"> <!--the content section acts as a basis for the post preview layout-->
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url "user-posts" object.userID %}">{{ object.userID }}</a> <!--Names and links to user profile-->
            <small class="text-muted">| {{ object.published|date:"F d, Y" }} |</small> <!--shows the date the post was first published-->
            {% if object.userID == user %}
                    <a href="{% url 'post-update' post.userID post.slug %}">Update Post</a>
                    <small>|</small>
                    <a href="{% url 'post-delete' post.userID post.slug %}">Delete Post</a>
            {% endif%}
            </div>
            <h2 class='article-title'>{{ object.title }}</h2> <!--Displays the title of the post-->
            <p class="article-content">{{ object.content }}</p> <!--Displays the content of the post-->
            {% if object.audio %} <!-- If the post has an audio file...-->
            <div><audio controls> <source src="{{object.audio.url}}" type="audio/mpeg"></audio></div> <!-- Play the audio file-->
            {% endif%}
        </div>
    </article>
    {% if comments %}
        <h3>Comments</h3>
            <form action="" method="POST"> {% csrf_token %}<!--Makes the button send a POST method-->
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Post Comment </legend><!-- Legend class acts as a header for the form (bootstrap)-->
                    {{commentForm.as_p}} <!--Form for email and username-->
                </fieldset>
                <div class="form-group">
                    <input class="btn btn-outline-info" type="submit">Post</button><!-- Button to submit info entered-->
                </div>;
            </form>
    {% endif %}
    {% for comment in comments%}
        <article class="media content-section"> <!--the content section acts as a basis for the post preview layout-->
            <img class="rounded-circle article-img" src="{{ comment.user.profile.pfp.url }}"> <!-- Displays the users pfp-->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url "user-posts" comment.user.username %}">{{ comment.user.username }}</a> <!--Names and links to user profile-->
                    <small>{{comment.published|date:"F d, Y"}}</small>
                </div>
                <p class"article-content"> {{comment.content}}</p> <!-- Displays the users description-->
            </div>
        </article>
    {% endfor%}
    <h3>Recommended posts</h3> <!-- there will always be recommended posts so it is okay to always have this here lol-->
    {% for post in recommended %}
        <article class="media content-section"> <!--the content section acts as a basis for the post preview layout-->
            <img class="rounded-circle article-img" src="{{ post.userID.profile.pfp.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url "user-posts" post.userID %}">{{ post.userID }}</a> <!--Names and links to user profile-->
                    <small class"mr-2"> {{post.userID.profile.description}}</small>
                    <small class="text-muted">{{ post.published|date:"F d, Y" }}</small> <!--shows the date the post was first published-->
                    <small><b>{{post.tag1}} | {{post.tag2}}</b></small>
                    {% if post.audio %} <!-- if a post contains audio...-->
                    <img src="{% static "main/images/audio.png" %}" style="width:25px;height:25px;" title="Contains audio"> <!-- Show audio symbol -->
                    {% endif %}
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.userID post.slug %}">{{ post.title }}</a></h2> <!--Displays and links to the title of the post-->
                <p class="article-content">{{ post.summary }}</p> <!--Displays the summary of the post-->
            </div>
        </article>
    {% endfor %}

{% endblock content %}
