<!--Template for user profile pages -->
{% extends "main/base.html" %} <!--#Imports the HTML found in the base template to use as a basis for the page -->
{% load static %}
{% block content %}
  <div class = "content-section"> <!--Loads custom CSS content section (defined in styles.css)-->
        <div class="media">
          <img class="rounded-circle" src="{{ u.profile.pfp.url }}" style="width:125px;height:125px;" > <!-- Displays the users pfp-->
            <div class="media-body">
                <h2 class="account-heading">{{ u.username }}'s Page</h2> <!--Displays username-->
                <div><p class="article-content">{{u.profile.description}}</p> </div>
                {% if user.is_authenticated %} <!-- Only show following if user is logged in-->
                  {% if u in following %}
                    <a href="{% url "manage_follow" operation="remove" username=u.username%}"> <!-- Provides link to the unfollow function...-->
                    <button type="button" class="btn btn-outline-secondary">Unfollow</button></a> <!-- As a button!!-->
                  {% else %}
                    <a href="{% url "manage_follow" operation="add" username=u.username%}"><!--Option to add user account-->
                    <button type="button" class="btn btn-success">Follow</button><!-- As a button--></a>
                  {% endif %}
                {% endif%}
            </div>
        </div>
  </div>
{% if not posts %}
   <h2>This user has no posts</h2>
{% endif%}
  {% for post in posts %} <!--for loop enables for many posts to be displayed at once-->
    <article class="media content-section"> <!--the content section acts as a basis for the post preview layout-->
      <img class="rounded-circle article-img" src="{{ post.userID.profile.pfp.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url "user-posts" post.userID %}">{{ post.userID }}</a> <!--Names and links to user profile-->
          <small class"mr-2"> {{post.userID.profile.description}}</small>
          <small class="text-muted">{{ post.published|date:"F d, Y" }}</small> <!--shows the date the post was first published-->
          {% if post.audio %} <!-- if a post contains audio...-->
          <img src="{% static "main/images/audio.png" %}" style="width:25px;height:25px;" title="Contains audio"> <!-- Show audio symbol -->
          {% endif %}
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.userID post.slug %}">{{ post.title }}</a></h2> <!--Displays and links to the title of the post-->
        <p class="article-content">{{ post.summary }}</p> <!--Displays the summary of the post-->
      </div>
    </article>
  {% endfor %}
{% endblock %}